#graph {
    /* display: grid;
    grid-auto-flow: column; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 2.0rem;

    width: 90vw;
    padding: 1.0rem 2.0rem;;
}

#graph-chart {
    width: 100%;
    max-width: 60vw;
    max-height: 50vh;
}

@media only screen and (max-width: 768px) {
    #graph-chart {
        max-width: 100%;
    }
}

#graph-analysis {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    align-items: center; 
    justify-content: start;
    text-align: left;
    width: fit-content;

    background-color: white;
    padding: 1.0rem;
    border-radius: 1.0rem;
}

.graph-detail {
    text-align: left;
    color: black;
    font-weight: 600;
}

#graph-moon {
    position: absolute;
    /* top: -2.0rem; */
    right: 0rem;
    width: 10.0rem;
    height: 10.0rem;
}