#toolbar {
    position: sticky;
    top:0;
    z-index: 8;
    display: grid;
    /* flex-direction: row; */
    /* width: 100%; */
    padding: 0.5rem 1.0rem;

    background-color: white;
}
#toolbar-search-criteria {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
#title {
    color: black;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0 1.0rem;
}
@media only screen and (max-width: 500px) {
    #title {
      font-size: 1.5rem;  
    }
  }
.logo {
    height: 3.5rem;
    width: auto;
    margin: auto;
    cursor: pointer;
}

.toolbar-option-box {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    margin: 0.25rem auto;
}

.toolbar-option {
    text-decoration: none;
    border: none;
    width: 100%;
    min-width: 6.0rem;

    font-weight: 700;
    text-align: center;
    padding: 0.4rem 1.0rem;
    background-color: #f0f0f0;
    cursor: pointer;
}
.toolbar-option:hover {
    background-color: black;
    color: white;
}

.toolbar-search-field {
    text-decoration: none;
    border: none;
    margin: 0 1.0rem;
    width: calc(100vw - 12.0rem);
    background-color: #f0f0f0;
    text-align: center;
    padding: 0.4rem 1.0rem;
    color: black;
}

.toolbar-option-left {
    border-top-left-radius: 1.0rem;
    border-bottom-left-radius: 1.0rem;
    margin-left: auto;
}

.toolbar-option-right {
    border-top-right-radius: 1.0rem;
    border-bottom-right-radius: 1.0rem;
    margin-right: auto;
}

.toolbar-option-selected {
    color: white;  
    background-color: black;
}

#add-tip {
    position: absolute;
    right: 8.0rem;
    top: 1.5rem;
    z-index: 5;
    width: fit-content;
    white-space: nowrap;

    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

